#foreach($key in $group.keySet())
    <h3><span>$key</span><input class="link-main-btn btn-primary" value="hit all" type="button"/></h3>
    <table id="link-table" class="table table-striped">
    #foreach($link in $group.findGroup($key).findAll())
        <tr>
            <td class="link-name">$link.getName()</td>
            <td class="link-url">$link.getUrl()</td>
            <td class="link-params">
                #if($link.hasParams())
                    <ul>
                    #foreach($param in $link.getParams())
                        <li><span>$param :</span><span><input class="link-param-input" name="${param}" type="text"/></span></li>
                    #end
                    </ul>
                #end
            </td>
            <td>
                <input url="${link.getName()}"type="button" class="btn-info btn-mini link-small-btn" value="hit"/>
            </td>
        </tr>
        <tr>
            <div id="${link.getName()}"></div>
        </tr>

     #end
    </table>
#end
