#foreach($key in $group.keySet())
    <h3>
        <span>$key</span>
        <input class="link-main-btn btn-primary" value="hit all" type="button"/>
    </h3>

    <table class="table table-striped link-table">
        <thead class="link-table-head">
           <tr><td>name</td><td>params</td><td>action</td><td>status</td></tr>
        </thead>
        <tbody>
        #foreach($link in $group.findGroup($key).findAll())
            <tr>
                <td class="link-name-col"><a href="${link.getUrl()}">$link.getName()</a></td>
                <td class="link-params-col">
                    #if($link.hasParams())
                        <ul>
                        #foreach($param in $link.getParams())
                            <li><span>$param :</span><span><input class="link-param-input" name="${param}" type="text"/></span></li>
                        #end
                        </ul>
                    #end
                </td>
                <td class="link-hit-col">
                    <input
                        url="${link.getName()}"
                        env="${link.getEnvironment()}"
                        type="button"
                        class="btn-info btn-mini link-small-btn"
                        value="hit"/>
                </td>
                <td class="link-hit-result-col">
                    <div id="${link.getEnvironment()}-${link.getName()}">
                    </div>
                </td>
            </tr>
         #end
         </tbody>
    </table>

#end
