<ol>
    #foreach($queueMgr in $queueMgrs)
    <li class="queuemgr-row">
        <a class="expand-queue" href="#">
            <img src="/static/images/queue.jpg"/>
            <span class="header" name="$queueMgr.getName()">$queueMgr.getName()</span>
        </a>
        <a class="queueMgr-connect" href="/queue/connect/">| connect</a>
        <div id="$queueMgr.getName()" class="content-queue"></div>
    </li>
    #end
</ol>