<h2>$queueMgr.getName()</h2>
<table class="table table-condensed channel-table">
    <thead><th>Name</th><th>Status</th></thead>
    <tbody>
        #foreach($channel in $channels)
        <tr>
            <td>$channel.name()</td>
            <td>$channel.status()</td>
            <td>
                <ol>
                    #foreach($time in $channel.times().all())
                        <li>
                            <span class="channel-time-name">$time.getName()</span>
                            <span class="channel-time-value">$time.value()</span>
                        </li>
                    #end
                </ol>
            </td>
        </tr>
        #end
    </tbody>
</table>