<ul class="${queueMgr.getName()}">
    #foreach($queue in $queueMgr.getQueues())
    <li class="queue-row">
        <span class="queue-name">$queue.getName()</span>
        <span class="queue-depth">$queue.getDepth()</span>
        <a class="queue-browse" href="/queue/browse/">browse</a>
        <div class="queue-msgs"></div>
    </li>
    #end
</ul>